html {
    font-size: 62.5%
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f5f5f5;
}

.main-container {
    display: block;
    margin: 0 auto;
    width: 100vw;
}

.container {
    display: block;
    float: left;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
}

header {
    display: block;
    float: left;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-bottom: 1px solid #254159;
}

p {
    margin-bottom: 10px;
    line-height: 1.4;
}

img {
    max-width: 100%;
    height: auto;
}

#tenho-interesse {
    background-color: #b8c8d6;
}

#tenho-interesse form,
:root:root:root .cog-cognito--styled.cog-cognito--protect-css,
:root:root:root .cog-cognito--styled.cog-cognito--protect-css address,
:root:root:root .cog-cognito--styled.cog-cognito--protect-css article,
:root:root:root .cog-cognito--styled.cog-cognito--protect-css aside,
:root:root:root .cog-cognito--styled.cog-cognito--protect-css audio,
:root:root:root .cog-cognito--styled.cog-cognito--protect-css blockquote,
:root:root:root .cog-cognito--styled.cog-cognito--protect-css canvas,
:root:root:root .cog-cognito--styled.cog-cognito--protect-css div,
:root:root:root .cog-cognito--styled.cog-cognito--protect-css fieldset,
:root:root:root .cog-cognito--styled.cog-cognito--protect-css figcaption,
:root:root:root .cog-cognito--styled.cog-cognito--protect-css figure,
:root:root:root .cog-cognito--styled.cog-cognito--protect-css footer,
:root:root:root .cog-cognito--styled.cog-cognito--protect-css h1,
:root:root:root .cog-cognito--styled.cog-cognito--protect-css h2,
:root:root:root .cog-cognito--styled.cog-cognito--protect-css h3,
:root:root:root .cog-cognito--styled.cog-cognito--protect-css h4,
:root:root:root .cog-cognito--styled.cog-cognito--protect-css h5,
:root:root:root .cog-cognito--styled.cog-cognito--protect-css h6,
:root:root:root .cog-cognito--styled.cog-cognito--protect-css header,
:root:root:root .cog-cognito--styled.cog-cognito--protect-css hr,
:root:root:root .cog-cognito--styled.cog-cognito--protect-css main,
:root:root:root .cog-cognito--styled.cog-cognito--protect-css nav,
:root:root:root .cog-cognito--styled.cog-cognito--protect-css ol,
:root:root:root .cog-cognito--styled.cog-cognito--protect-css p,
:root:root:root .cog-cognito--styled.cog-cognito--protect-css pre,
:root:root:root .cog-cognito--styled.cog-cognito--protect-css section,
:root:root:root .cog-cognito--styled.cog-cognito--protect-css ul,
:root:root:root .cog-cognito--styled.cog-cognito--protect-css video {
    background-color: #b8c8d6 !important;
}

h1 {
    font-size: 2.4em;
    color: #254159;
    margin-bottom: 20px;
}

h2 {
    font-size: 2rem;
    color: #254159;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.8rem;
    color: #254159;
    margin-bottom: 20px;
}

h4 {
    font-size: 1.6rem;
    color: #385874;
    margin-bottom: 10px;
    padding-top: 10px;
}

ol {
    margin-left: 30px;
}

ol li {
    font-size: 1.4rem;
    color: #454545;
}

section {
    background-color: #fff;
    display: block;
    float: left;
    font-size: 1.5rem;
    width: 100%;
    padding: 20px;

}


section nav {
    display: block;
    float: left;
    width: 30%;
}

nav li {
    margin: 1px 20px 1px 0;
    padding: 10px;
    background-color: #efefef;
}

nav li:hover {
    background-color: #dfefdf;
}

nav a:hover {
    color: #385874;
}

nav a {
    text-decoration: none;
    color: #254159
}


section article {
    display: block;
    float: left;
    width: 60%;
}

footer {
    background-color: #254159;
    color: #ffffff;
    display: block;
    float: left;
    width: 100%;
    padding: 20px;
}

footer p {
    color: #ffffff;
    font-size: 1.4rem;
}

footer small {
    font-size: 80%;
    display: block;
}

.cog-abuse {
    visibility: hidden !important;
}

.cognito {
    height: 380px !important;
    overflow: hidden !important;
}



img {
    max-width: 100% !important;
    height: auto !important;
}

@media (max-width: 100%) {
    table {
        width: 100% !important;
    }

    .container {
        padding-left: 1%;
        padding-right: 1%;
    }
}

h1 {
    font-size: 1.rem;
}